.sub_header
{
    border-bottom: 2px solid blue;
}

.red
{
    border-color: red;
}

table
{
    
    border-collapse: collapse;
}

th, td
{
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid black;
}

.grey
{
    background: #F5F5F5;
}
